/* Your code here */
.wgs{
  position:relative;
  height:241px;
  width:320px;
  display:inline-block;
  overflow:hidden;
}

.wgs__dirt-pile {
  position:absolute;
  height:110px;
  width:320px;
  bottom:0;
}

.wgs__mole-head {
  position:absolute;
  height:178px;
  width:188px;
  left:55px;
  right:78px;
}


.wgs__mole-head--hidden {
  position:absolute;
  height:178px;
  width:188px;
  left:55px;
  right:78px;
  margin-top:241px;
  transition-duration: 0.25s;
}

.wgs__mole-head--whacked {
  rotate:180deg;
  transition-duration: 0.25s;
}


.pf {
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}

.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

 .sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

 .sb__score-holder {
  flex: 1 0 0;
}

 .sb__game-over--hidden {
  display: none;
}
